[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pyarrow = "*"
transformers = "*"
pandas = "*"
torch = "*"
sentence-transformers = "*"
huggingface-hub = "*"

[dev-packages]

[requires]
python_version = "3.11"
